
/* Шапка Админ панели */
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3626ff;
}
.call__bar a{
    color: #ccccc5;
    font-size: 22px;
}
.login ul{
    float: right;
}
.login li{
    display: inline-block;
    font-size: 20px;
    transition: all 0.4s ease;
}
.login li *{
    color: #ccccc5;
    margin: 0 12px;
}
.login li h2{
    font-size: 25px;
}
.login li a{
    font-size: 20px;
}
.login li a:hover{
    text-decoration: none;
    color: rgb(75, 75, 75);
}
.login li:nth-child(2):hover{
    transform: scale(1.1);
    color: #000;
    text-decoration: none;
}

/* Формы  */

.product__form{
    padding-top: 20%;
}
#statuss{
    border-radius: 5px;
}
#similar  {
    border-radius: 8px;
}
.product__form form{
    width: 350px;
    text-align: center;
}
.product__form form input{
    margin: 8px 0;
}
.product__form form input[type="text"],
#admin__panel__form input, 
#admin__add input{
    width: 300px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #e8e8e8;;
}
.product__form button,
#admin__panel__form button,
#admin__add button,
#admin__rem button{
    width: 180px;
    margin: 0 auto;
    display: block;
    padding: 8px 0 ;
    text-align: center;
    background: #8b8b8b;
    color: #000;
    border: none;
    border-radius: 9px;
}
.main__nav, 
.main__edit{
    padding-top: 30px;
    background: #1960ff;
    position: absolute;
    left: 0;
    width: 87%;
    padding-left: 5%;
}
.main__nav{
    min-height: 100vh;
    height: 100%;
}
.main__nav a{
    color: #000;
}
.main__nav a:hover{
    text-decoration: none;
    color: #8b8b8b;
}
.main__edit{
    height: 100%;
}
#form__add__product{
    display: none;
}
#form__remove__product,
#form__edit__product {
    padding-left: 17%;
    display: none;
}
#form__remove__product select,
#form__edit__product select,
#admin__rem select{
    width: 150px;
    padding: 2px;
    background: none;
    margin-bottom: 20px;
    border-radius: 8px;
}
#form__edit__product{
    display: none;
}
.edit{
    display: none;
}
#form__edit{
    display: block;
}
#similar{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#admin__panel__form input,
#admin__add input{
    margin: 0 auto;
    display:block;
    margin-bottom: 20px;
}
#admin__panel__form{
    display: none;
}

/* Форма добавление админа || Удаление */

#admin__add{
    display: none;
}
#admin__rem{
    display: none;
}
#admin__rem select{
    display: block; 
    margin: 0 auto;
   margin-bottom: 20px;
}

/* боковая панель */

.product h2,
.admin__pandel__main h2{
    cursor: pointer;
    color: #ccccc5;
}
.product ul,
.admin__pandel__main ul{
    overflow: hidden;
    height: 0;
    transition: all 1s ease;
}
.product li,
.admin__pandel__main li{
    font-size: 18px;
    margin: 8px 0;
    transition: all 0.4s ease;
}
.product li:hover,
.admin__pandel__main li:hover{
    color: #8b8b8b;
    transform: scale(1.1);
}

/* Список админов */

.admin, 
.order{
    display: none;
    padding-left: 10%;
}
.admin table th{
    font-size: 25px;
}
.admin table td{
    font-size: 20px;
}
.admin table th, 
.admin table td{
    padding-left: 80px;
}

/* Изоображения */
.img__add{
    width: 301px;
    height: 300px;
    border-radius: 5px;
}
.sees__img{
    padding: 0;
}
.sees__img li{
    position: relative;
    list-style: none;
}
.sees__img a{
    position: absolute;
    right: 12%;
    color: #000;
    top: 5%;
    font-size: 30px;
    transition: all 0.4s ease;
}
.sees__img a i{
    transition: all 0.4s ease;
}
.sees__img a i:hover{
    color: #8b8b8b;
    transform: rotate(15deg);
}
.production{
    flex-wrap: wrap;
    margin: 20px 0;
}
.production__item {
    width: 250px;
    position: relative;
    display: block;
    overflow: hidden;
}
.production__item img , .edit__item img{
    width: 100%;
    height: 300px;
}
#form__add__product {
    display: block;
    margin-left: 30%;
}
#form__edit {
    display: block;
    margin-left: 30%;
}
#form__add__product{
    display: none;
}
#pag{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
#pag a{
    display: inline-block;
}
.page-item button{
    width: 50px;
    border-radius: 5px;
}
.page-item:hover{
    transform: scale(1.1);
    color: rgb(255, 81, 0);
}
.modals{
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    transition: all 1s ease;
    background: rgba(0, 0, 0, 0.521);
}
.modals .btn{
    position: absolute;
    top: 40%;
    left: 13%;
}
.modals .btn a,.modals .btn button {
    display: inline-block;
    font-size: 18px;
    background: rgb(117, 117, 117);
    border-radius: 2px;
    width: 150px;
    margin: 0 auto;
    box-shadow: 2px 2px 14px #000;
    transition: all 0.4s ease;
    color: #000;
    padding: 6px 0;
    border: none;
}
.modals .btn a:hover,.modals .btn button:hover{
    border-radius: 8px;
    color: rgb(59, 59, 59);
    text-decoration: none;
}