main{
    height: 100vh;
 }
 .auth{
     margin: 0 auto;
     background: rgb(175, 175, 175); 
     text-align: center;
     width: 300px;
     border-radius: 8px;
     padding: 30px;
     margin-top: 16%;
 }
 .auth input{
     width: 250px;
     border-radius: 8px;
     border: none;
     padding: 8px 20px;
     margin: 10px 0;
 }
 .auth button{
     border-radius: 8px;
     background: blue;
     color: #fff;
     font-size: 18px;
     width: 150px;
     margin: 0 auto;
     padding: 8px 0;
     border: none;
 }