/* Шрифты */
/*font-family: 'Roboto', sans-serif;*/
.wrapper{
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.cont{
    padding-bottom: 100px;
}
/* Шапка сайта */
header *{
    font-family: 'Roboto', sans-serif;
}
.header__nav{
    background: #a8a8a8;
}
.logo h1{
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 5px;
}
.backet {
    float: right;
}
.backet a{
    display: block;
    color: #000;
    font-size: 25px;
}
/* Шапка сайта_2 */
.header__nav__pres{
    text-align: center;
}
.header__nav__pres__item{
    padding-top: 20px;
}
.header__nav__pres__item h2{
    font-size: 20px;
}
.header__nav__pres__item ul{
    padding-top: 20px;
}
.header__nav__pres__item li{
    color: rgb(85, 85, 85);
    display: inline-block;
    text-decoration: underline;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}
/* Главное меню сайта */
main{
    padding-bottom: 100px;
}
main *{
    font-family: 'Roboto', sans-serif;
}
.main__nav{
    text-align: center;
}
.main__nav ul{
    border-top: 2px solid #000;
    border-bottom:  2px solid #000;
}
.main__nav li{
    font-size: 23px;
    color: #000;
    text-transform: uppercase;
    margin: 0 15px;
    display: inline-block;
    transition: all 1s ease;
}
.main__nav li:hover{
    color: #fff;
    background: #000;
    border-radius: 8px;
}
/* Товары сайта */
.production{
    flex-wrap: wrap;
}
.production__item{
    position: relative;
    width: 30%;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}
.production__item img{
    width: 100%;
    height: 100%;
}
.production__item h2,
.production__item span{
    position: absolute;
    left: 5%;
    color:rgb(104, 104, 104);
}
.production__item h2{
    top: 5%;
    font-size: 18px;
}
.production__item span{
    bottom: 10%;
}
/* Доп к товарам сайта */
.modals{
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    transition: all 1s ease;
    background: rgba(0, 0, 0, 0.521);
}
.modals .btn{
    position: absolute;
    top: 40%;
    left: 8%;
}
.modals .btn a,.modals .btn button {
    display: inline-block;
    font-size: 18px;
    background: rgb(117, 117, 117);
    border-radius: 2px;
    width: 100px;
    margin: 0 8px;
    transition: all 0.4s ease;
    color: #000;
    padding: 6px 0;
    border: none;
}
.modals .btn a:hover,.modals .btn button:hover{
    border-radius: 8px;
    color: rgb(59, 59, 59);
    text-decoration: none;
}
/* Меню навигаций сайта */
.navigation span{
   font-size: 18px;
   color: #a8a8a8; 
   font-style: italic;
   display: block;
   transition: all 0.4s ease;
   cursor: pointer;
}
.navigation span:hover{
    color: #8a8a8a; 
    transform: scale(1.1);
}
.navigation ul{
    padding: 0;
    margin: 0 20px;
}
.navigation li{
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.navigation li:hover{
    transform: scale(1.1);
    color: rgb(255, 81, 0);
}
/* Футер */
footer{
    background: rgb(58, 58, 58);
    margin-top: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}
/* Корзина */
.cart th{
    font-size: 25px;
}
.cart td{
    font-size: 20px;
}
.cart img{
    width: 100px;
    height: 120px;
}
.cart a{
    color: #000;
    display: block;
    margin-left: 27%;
    transition: all 0.3s ease;
}
.cart i:hover{
    transform: rotate(10deg);
}
/* Офрмление заказа */
.orders{
    text-align: center;
}
.orders form button{
    width: 150px;
    padding: 8px 0;
    text-align: center;
    background: #a8a8a8;
    border-radius: 5px;
    color: #000;
    display: block;
    border: none;
    margin: 0 auto;
    transition: all 0.4s ease;
}
.orders form button:hover{
    color: rgb(66, 66, 66);
    transform: scale(1.1);
}
.orders form input{
    border: none;
    width: 300px;
    padding: 7px 20px;
    border-radius: 8px;
    background: #d8d8d8;
    margin: 10px 0;
}
/* Страца с товаром */
.img__product img{
    width: 100%;
}
.productions .desk{
    text-align: left;
}
.productions p, .productions span{
    font-size: 25px;
}
.btn_prod {
    margin-top: 50px;
}
.btn_prod {
    text-align: center;
    padding-bottom: 50px;
}   
.btn_prod a{
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 8px 0;
    border: none;
    background: #a8a8a8;
    text-align: center;
    color: #000;
    border-radius: 5px;
    transition: all 0.5s ease;
}   
.btn_prod a:hover{
    transform: scale(1.1);
    color: #8a8a8a;
}
.img__product{
    position: relative;
}
.img__product i{
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #a8a8a8;
}
.img__product i:first-child{
    left: 4%;
}
.img__product i:last-child{
    right: 4%;
}
.img_pros{
    display: none;
}